img .left-col .mid-col .right-col {
    z-index: 1;
}




body {
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar {
	margin-bottom: 20px;
}

.logo {
	height: 120px;
}

.content {
	margin-top: 20px;
}

h1 {
	margin-top: 5px;
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

.header {
	margin-top: 5px;
}

h3 {
	font-size: 16px;
}

img {
    width: auto;
}

.hover_img a span { position:absolute; display:none; z-index:99;}

.hover_img a:hover span{
    display:block;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.biggg {
    font-size: 35px;
    font-weight: 700;
    color: red !important;
}