@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




/*--------------------------------------------Colours*/

body {
        background-color: #143049;
}

.ui-menu-color {
    background-color: #143049;
    }

.inline-block {
    color: #af9442;
}

#section-details {
    background-color: #b0cfee;
}

.foot-email a {
    color: #af9442;
}

/*--------------------------------------------Menu Items*/

.menuitem {
    color:#af9442;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #af9442;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;  
    color:#af9442; 
    padding-top: 16px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}


/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Libre+Baskerville', sans-serif;
}

p {
    font-family: 'Open+Sans', sans-serif;
    margin: 5px;
}

.uppercase {
    text-transform: uppercase;
}


.col-md-1 {
    min-height: 393px;
    background-color: #143049;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
    color: #fff;
    min-height: 360px;
}


#header-details {
     text-align: center;
}

.content {
    padding: 0 15px;
  }

  .roadsign-img {
    background: url("../images/nc500thursowide.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.hero-image {
    background: url("../images/sango.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 393px;
    padding: 5px;
}

.route-map {
    background: url("../images/nclogomap-r.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;    
    margin: 0;

}

.meet-the-cows-img {
    background: url("../images/highland-coo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;    
    margin: 0;
}

.telecoms-img {
    background: url("../images/phone-box.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;    
    margin: 0;
}

.saltire-gif {
    background: url("../images/scotland-646_256.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;    
    margin: 0;
}

.title {
    font-family: "Libre+Baskerville", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
    color: #fff;  
    }

.sub-title {
    font-family: "Libre+Baskerville", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #143049;
}

.general-sub {
    color: #af9442;
    padding: 5px 0 0 5px;
    text-align: center;
   }

.menucontainer {
    font-size: 0;
    position: relative;
    min-height: 360px;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

/* add different color and increased font weight to menu link for current page */

.active span {
    color: #25b99f;
    font-weight: 700;
}

.menuitem .active i {
    color: #25b99f;
    font-weight: 700;
}

/*--------------------------------------------text animation code courtesy of geeksfor geeks.org and amended by me*/

/*--------------------------------------------margins optimised for mobile devices*/
.text-type-container { 
    margin: 13px 20px 325px 20px;
    width: 50%; 
    height: auto; 
} 

.text-typing { 
    background: #143049; 
    font-size: 35px; 
    font-family: "libre+baskerville"; 
    border-radius: 50px; 
    overflow: hidden; 
    position: relative; 
} 

.text-typing p { 
    margin: 0px; 
    white-space: nowrap; 
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
    animation:  
typing 1s steps(22, end) forwards; 
} 

@keyframes typing { 
    0% { 
        width: 0% 
    } 

    100% { 
        width: 100% 
    } 
} 

/*--------------------------------------------Hover Control*/

.hvr-grow:hover {
    transform: scale(1.4);
}

/*--------------------------------------------footer*/

footer {
    color: #fff;
    min-height: 120px;   
}

.social-links {
    padding-bottom: 15px;
    padding-top: 10px;
}

.social-links li {
    padding-right: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #af9442;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline {
    text-align:center;
}

.foot-email {
    text-align: center;
}

#footer-details {
    text-align: center;
}

.col-sm-6 {
    background-color: #143049;
    margin 15px;
    padding-right: 15px;
}


/* ----------------------------------------Contact Form */

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

/*--------------------------------------------Error Handling*/

.404-padding {   
    margin: 120px;
    padding: 50px;
}



/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;    
    }
}