@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*--------------------------------------------Colours*/

body {
    background-color: #143049;
}

.ui-menu-color {
    background-color: #143049;
}

.inline-block {
    color: #af9442;
}

.section-details {
    background-color: #f9faf4;
    border-color:#af9442;
}

.bg-color-contact {
    background-color: #143049;
}

.contact-color {
    color: #af9442;
}

.foot-email a {
    color: #af9442;
}

/*--------------------------------------------Image sizing*/
img {
    width: 100%;
}

/*--------------------------------------------Menu Items*/

.menuitem {
    color:#af9442;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
}

.menuitem a i {
    padding-top: 20px;
    display: block;
    color: #af9442;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;  
    color:#af9442; 
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

/*--------------------------------------------menu items optimised for small mobile devices*/


.menu-spacing span {
    font-family: 'Libre+Baskerville', sans-serif;
    font-size: 11px;
    padding: .5em;
    color: #af9442;
    text-transform: uppercase;
}

.menu-spacing a i {
    display: block;
    color: #af9442;
    font-size: 11px;
    padding-top:20px;
    margin: 0;
}

.menu-spacing .active i {
    color: #25b99f;
    font-weight: 700;
}

.list-inline-item {
    margin-bottom: 20px;
    padding: 0;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Libre+Baskerville', sans-serif;
}

p {
    font-family: 'Open+Sans', sans-serif;
    margin: 10px;
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
}

.solid-border {
    border-style: solid;
    border-width: 5px 0 0;
    padding-left: 15px;
    padding-right: 15px;
    border-color:#af9442;
}

.img-center {
    display:block;
    margin:auto;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
    color: #fff;
    min-height: 360px;
}

#header-details {
     text-align: center;
}

.error-screen-padding {
    padding-top: 50px;
}
 
.hero-image {
    background: url("../images/sango.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.ourtrip-image {
    background: url("../images/dramatic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.gallery-image {
    background: url("../images/achmelvich.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.comments-image {
    background: url("../images/wideroad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.lost-image {
    background: url("../images/lost-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.confirmation-image {
    background: url("../images/thankyou-tarmac.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.rounded-custom {
    border-radius: 5%;
}

.saltire-gif {
    background: url("../images/scotland-646_256.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px; 
    max-height: 395px;   
    margin: 0;
}

.title {
    font-family: "Libre+Baskerville", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #af9442;
}

.sub-title {
    font-family: "Libre+Baskerville", sans-serif;
    font-weight: 800;
    font-size: 28px;
    /* font-size: 2.5vw; */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #143049;
}

.foot-title {
    background-color: #143049;
    color: #af9442;
    font-size: 35px;
    padding: 10px 0 0 0;
    text-align: center;
}

.general-sub {
    background-color: #143049;
    margin: 0 28%;
    color: #af9442;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    border-radius: 30%;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 10px;
    padding: 0;
}

#nav {
    margin: 0;
}

/* add different color and increased font weight to menu link for current page */

.active span {
    color: #25b99f;
    font-weight: 700;
}

.menuitem .active i {
    color: #25b99f;
    font-weight: 700;
}

/*--------------------------------------------text animation code courtesy of geeksfor geeks.org and amended by me*/

.text-type-container { 
    margin: 13px 20px 325px 20px;
    padding-top: 2px;
    width: 50%; 
    height: auto; 
} 

.text-typing { 
    background: #143049; 
    font-size: 35px; 
    font-family: "libre+baskerville"; 
    border-radius: 50px; 
    overflow: hidden; 
    position: relative; 
} 

/* changed from p to h1 */
.text-typing h1 { 
    margin: 0px; 
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
    animation:  
typing 1s steps(22, end) forwards; 
} 

@keyframes typing { 
    0% { width: 0% } 
    100% { width: 100% } 
} 

/*--------------------------------------------Hover Control*/

.hvr-grow:hover {
    transform: scale(1.4);
}

/*--------------------------------------------footer*/

footer {
    color: #fff;
    min-height: 120px;
}

.social-links {
    padding-bottom: 2em;
    padding-left: 0.1em;
    padding-top: 1em;
}

.social-links li {
    padding-right: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #af9442;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline {
    text-align:center;
}

.foot-email {
    text-align: center;
}

#footer-details {
    text-align: center;
}

/* ----------------------------------------Contact Form */

.comment-text {
    font-size: 24px;
    font-weight: 600;
}

/* ----------------------------------------overriding some form-control settings to provide a crispy colour contrast */
.form-control {
    font-size: 1.5rem;
    font-weight: 500;
    color: #af9442;
    background-color: #082137;
    border: 1px solid #af9442;   
    border-radius: 2rem;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.label-font-size {
    font-size: 24px;
}

/* ----------------------------------------fixed size on page with scrollbar */
textarea {
    min-height: 200px;
    max-height: 300px;
    resize: none;
}

.btn-secondary {
    background-color: #af9442;
    color: #082137;
    border-radius: 2rem;
    margin: 25px;
}

.btn-secondary:hover {
    background-color: #178309;
    color: #143049
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #143049;
    background-color: #af9442;
}

/* ----------------------------------------Media Queries */

/* ----------------------------------------resize menu items and text for bigger screens*/

@media (min-width: 576px) {
    .menu-spacing span {
        font-size: 22px;
    }
    .menu-spacing a i {
        font-size: 22px;
    }
}

/* ----------------------------------------change to proportional font size on larger screen sizes*/

@media (min-width: 1500px) {
    p {
        font-size: 1vw;
    }
}

/* ----------------------------------------change to text size on figcaption for single words. multiple word phrases will wrap */
@media (max-width: 370px) {
    .general-sub {
        font-size: 19px;
    }
}


/* carousel test */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  .document-center {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*We do this because the carousel needs to be 100% width 
  in order for the aspect ratio trick to work*/
  .carousel-container {
    max-width: 980px;
    width: 100%;
  }
  
  /*This is the actual carousel. Overflow hidden acts as a mask*/
  
  .carousel {
    /* position: relative; */
    width: 100%;
    /* Width of image is 980px. Height is 570px. */
    padding-top: calc(570 / 980 * 100%);
    overflow: hidden;
  }
  
  .carousel-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .left-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 147px;
    cursor: pointer;
  }
  
  .left-arrow:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }
  
  .left-arrow:hover .chevron,
  .right-arrow:hover .chevron {
    /* border-color: #e6e6e6; */
    border-color: #af9442;
  }
  
  .right-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 147px;
    cursor: pointer;
  }
  
  .right-arrow:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }
  
  .chevron {
    width: 25px;
    height: 25px;
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 10px 10px 0 0;
  }
  
  .chevron.right {
    transform: rotate(45deg);
  }
  
  .chevron.left {
    transform: rotate(-135deg);
  }
  
  .circle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
  }
  
  .circle {
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .circle-fill {
    /* background-color: white; */
    background-color: #143049;
  }
  
  .text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    bottom: 45px;
    left: 0;
    width: 100%;
    color: #fafafa;
    text-shadow: 1px 1px black;
    text-align: center;
  }
  
  .text-container p:nth-child(1) {
    margin: 10px 100px;
    font-size: 1.5em;
  }
  
  .text-container p:nth-child(2) {
    margin: 10px 100px 20px 100px;
  }
  
  .carousel-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Animations */
  @keyframes toRight {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes toLeft {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  
  @keyframes comeRight {
    0% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }
  
  @keyframes comeLeft {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
   
/* to test gallery */

  #gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }
 
 #gallery img {
    width: 100% !important;
    height: auto !important;
    filter: grayscale(100%);
    /* transition: filter 2s; */
    margin-bottom:5px; /* to match column gap */
 }

 #gallery img:hover {
    filter:none;
 }
 
 
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }
 
 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }
 
 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }
 
 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }
 
 /* styling box */

 /* * {
    box-sizing: border-box;
  } */
  
  /* body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  } */
  
  /* Center website */
  .main {
    max-width: 90%;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  /* .row {
    margin: 10px -16px;
  } */
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }