@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*--------------------------------------------Colours*/

body {
    background-color: #143049;
}

.ui-menu-color {
    background-color: #143049;
}

.inline-block {
    color: #af9442;
}

#section-details {
    background-color: #b0cfee;
    border-color:#af9442;
}

.bg-color-contact {
    background-color: #a143049;
}

.foot-email a {
    color: #af9442;
}

/*--------------------------------------------Menu Items*/

.menuitem {
    color:#af9442;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
}

.menuitem a i {
    padding-top: 20px;
    display: block;
    color: #af9442;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;  
    color:#af9442; 
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}

/*--------------------------------------------menu items optimised for small mobile devices*/


.xs-menu-spacing span {
    font-size: 12px;
    padding: .4em;
    color: #af9442;
    text-transform: uppercase;
}

.xs-menu-spacing a i {
    display: block;
    color: #af9442;
    font-size: 1rem;
    padding-top:20px;
    margin: 0;
}

.xs-menu-spacing .active i {
    color: #25b99f;
    font-weight: 700;
}

.xs-menu-spacing li {
    min-width: 23%;
    white-space: nowrap;
}

.list-inline-item {
    margin-bottom: 20px;
    padding: 0;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Libre+Baskerville', sans-serif;
}

p {
    font-family: 'Open+Sans', sans-serif;
    margin: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.col-md-1 {
    min-height: 393px;
    background-color: #143049;
}

.solid-border {
    border-style: solid;
    border-width: 5px 0 0;
    padding: 0;
    border-color:#af9442;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
    color: #fff;
    min-height: 360px;
}

#header-details {
     text-align: center;
}

.content {
    padding: 0 15px;
}
 
.hero-image {
    background: url("../images/sango.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.ourtrip-image {
    background: url("../images/dramatic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.gallery-image {
    background: url("../images/achmelvich.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.comments-image {
    background: url("../images/wideroad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 395px;
}

.saltire-gif {
    background: url("../images/scotland-646_256.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px; 
    max-height: 395px;   
    margin: 0;
}

.title {
    font-family: "Libre+Baskerville", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
    color: #fff;  
}

.sub-title {
    font-family: "Libre+Baskerville", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #143049;
}

.foot-title {
    background-color: #143049;
    color: #af9442;
    padding: 10px 0 0 0;
    text-align: center;
}

.general-sub {
    background-color: #143049;
    color: #af9442;
    text-align: center;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 10px;
    padding: 0;
}

#nav {
    margin: 0;
}

/* add different color and increased font weight to menu link for current page */

.active span {
    color: #25b99f;
    font-weight: 700;
}

.menuitem .active i {
    color: #25b99f;
    font-weight: 700;
}



/*--------------------------------------------text animation code courtesy of geeksfor geeks.org and amended by me*/

.text-type-container { 
    margin: 13px 20px 325px 20px;
    width: 50%; 
    height: auto; 
} 

.text-typing { 
    background: #143049; 
    font-size: 35px; 
    font-family: "libre+baskerville"; 
    border-radius: 50px; 
    overflow: hidden; 
    position: relative; 
} 

.text-typing p { 
    margin: 0px; 
    white-space: nowrap; 
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
    animation:  
typing 1s steps(22, end) forwards; 
} 

@keyframes typing { 
    0% { width: 0% } 
    100% { width: 100% } 
} 

/*--------------------------------------------Hover Control*/

.hvr-grow:hover {
    transform: scale(1.4);
}

/*--------------------------------------------footer*/

footer {
    color: #fff;
    min-height: 120px;  
}

.social-links {
    padding-bottom: 2em;
    padding-left: 0.1em;
    padding-top: 1em;
}

.social-links li {
    padding-right: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #af9442;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline {
    text-align:center;
}

.foot-email {
    text-align: center;
}

#footer-details {
    text-align: center;
}

/* ----------------------------------------Contact Form */

/* .contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
} */

.form-control {
    display: block;
    width: 100%;
    height: 3rem;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #af9442;
    background-color: #143049;
    background-clip: padding-box;
    border: 1px solid #af9442;   
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610; 
}



/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;    
    }
}

